/* style.css */
body {
    /* コメントアウト */
    /* font-familyはユーザーに使わせるフォントを指定する */
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-size: auto;
    color: #000000;
    text-align:auto;
}

main {
    background-color: gray;
}