/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    text-align:center
}

p {
    width: 100px;
    height: 100px;
    font-size: 12px;
    color: #ffd902;
}
.header {
    font-size: 30px;
    color: rgb(255, 0, 174)
}
span {
    color: firebrick;
}
