/* style.css */
html{
    background-color:black;
    color:white
}
body {
    /* コメントアウト */
    /* font-familyはユーザーに使わせるフォントを指定する */
    font-family: Arial, sans-serif;
    width: auto;
    height: auto;
    font-size: large;
}

header {
    display:flex;
}
main {
    background-color: rgb(149, 255, 123);
}